#banner_investimento {
    height: 100vh;
    background-image: url(/src/imagens/fundos/fundo_capa_investimento.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}