header {
    width: 100%;
    padding: 28px 8%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

header.rolagem {
    background-color: #ffffff21;
    padding: 14px 8%;
}

header.rolagem a {
    color: #5b4c6421;
}

#menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu_logo {
    width: 185px;
    height: 103px;
    flex-shrink: 0;
}

#menu_navegacao {
    display: flex;
    list-style: none;
    gap: 48px;
}

.item_navegacao a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 200;
}

.item_navegacao.ativo a {
    color: rgb(252, 252, 252);
    border-bottom: 1px solid #ffffff;
}

#botao_mobile {
    display: none;
}

#menu_mobile {
    display: none;
}

@media screen and (max-width: 1170px) {
    #menu_navegacao {
        display: none;
    }
    #botao_mobile {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: #ffffff;
    }
    #menu_mobile.ativo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu_mobile_navegacao {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 24px 0px;
    }

    #menu_mobile_navegacao .item_navegacao {
        list-style: none;
        text-align: center;
    }
}

.banner {
    height: 100vh;
    background-image: url(/src/imagens/fundos/fundo_capa_banner.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}