@font-face {
    font-family: 'Century Gothic';
    src: url('/src/fonte/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Century Gothic', Helvetica, sans-serif;
}